.Home {
    background-color: whitesmoke;
    width: 420px;
    min-height: 950px;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    border: 1px solid black;
    .active-card {
        height: 250px;
    }
    .card-list {
        position: relative;
        height: 550px;
        margin-top: 0.5rem;
        div {
            position: relative;
        }

        article:nth-of-type(2) {
            transform: translateY(-80%);
        }
        article:nth-of-type(3) {
            transform: translateY(-160%);
        }
        article:nth-of-type(4) {
            transform: translateY(-240%);
        }
        article:nth-of-type(5) {
            transform: translateY(-320%);
        }
    }
}
