@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+Pro:wght@700&display=swap");

.App {
    text-transform: uppercase;
    height: 100vh;
    width: 100%;
    display: flex;
    color: #222;
    /* justify-content: center; */

    .active,
    .new {
        text-align: center;
    }

    span {
        font-family: "PT Mono", monospace;
    }
    h1 {
        text-align: center;
        font-family: "Source Sans Pro", sans-serif;
    }

    h2,
    p {
        font-family: "PT Mono", monospace;
    }

    button {
        text-transform: uppercase;
        font-family: "PT Mono", monospace;
        font-weight: bold;
        font-size: 1.1rem;
        padding: 1rem;
    }
    button:hover {
        background-color: black;
        color: white;
    }
}
